/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
body {
  position: relative;
  color: white;
  height: 100vh;
  background: linear-gradient(
    200.96deg,
    #dfdede -29.09%,
    /* #7d69ff 51.77%, */
    #919dcf 129.35%
  );
  font-family: sans-serif;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

img{
  align-self: center;
  position: absolute;
  top: 50px;
  left: 100px;
  background: linear-gradient(
    200.96deg,
    #000000 -29.09%,
    #ffffff 129.35%
  );

}

button {
  background-color: rgb(190, 190, 190);
  padding: 10px 20px;
  border-radius: 10px;
  border: gray;
  appearance: none;
  font-size: 1.3rem;
  box-shadow: 0px 8px 28px -6px rgba(24, 39, 75, 0.12),
    0px 18px 88px -4px rgba(24, 39, 75, 0.14);
  transition: all ease-in 0.1s;
  cursor: pointer;
  opacity: 0.9;
  position: absolute;
  top: 200px;
}

button:hover {
  transform: scale(1.20);
  opacity: 1;
}

.photos {
  position: absolute;
  top: 50%;
}

.button-bar {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  align-self: center;
}

.button-bar a {
  margin: 0 75px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  height: fit-content;
  width: fit-content;
  margin: 10px;
}

a:hover {
  opacity: 1;
  text-decoration: none;
}

.Hello {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  text-align: center;

}


.center-button{
  text-align: center;

}
